<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

	<select id="selectList" resultType="member">
		SELECT * FROM MEMBER
	</select>
	<select id="selectOneMember" parameterType="_int" resultType="member">
		SELECT * FROM MEMBER WHERE MNO = #{mNo}
	</select>
	<select id="mmSelectProfile" parameterType="_int" resultType="memPro">
		SELECT * FROM MEMBER_PROFILE WHERE MPMNO = #{mNo}
	</select>
	<select id="selectMemberProfileImg" resultType="memProImg">
		SELECT * FROM MEMBER_PROFILE_IMG WHERE MNO = #{mNo}
	</select>
	<select id="selectPayment" resultType="payment">
		SELECT * FROM PAYMENT WHERE PMNO = #{mNo}
	</select>
	<select id= "selectPaymentList" resultType="payment">
		SELECT PNO, PDATE, PODATE, PTICKET, (SELECT MNAME FROM MEMBER WHERE MNO = PMNO) PNAME  FROM PAYMENT
  </select>
	<select id="selectListReport" resultType="report">
		SELECT RNO, (SELECT MNAME FROM MEMBER WHERE MNO = RREPORTER) RREPORTERNAME, (SELECT MNAME FROM MEMBER WHERE MNO = RMEMBER) RMEMBERNAME, RCONTENT, RDATE FROM REPORT WHERE RMEMBER = #{mNo}  
	</select>
	<select id="selectAllListReport" resultType="report">
		SELECT RNO, (SELECT MNAME FROM MEMBER WHERE MNO = RREPORTER) RREPORTERNAME, (SELECT MNAME FROM MEMBER WHERE MNO = RMEMBER) RMEMBERNAME, RCONTENT, RDATE FROM REPORT  
	</select>
	<select id="selectReportTotalContents" parameterType="_int" resultType="_int">
		SELECT COUNT(*) FROM REPORT WHERE RMEMBER = #{mNo}
	</select>
	<select id="selectOneReport"  parameterType="_int" resultType="report">
		SELECT RNO, (SELECT MNAME FROM MEMBER WHERE MNO = RREPORTER) RREPORTERNAME, (SELECT MNAME FROM MEMBER WHERE MNO = RMEMBER) RMEMBERNAME, RCONTENT, RDATE FROM REPORT WHERE RNO = #{rno}
	</select>
	<update id="mmDisable" parameterType="_int">
		UPDATE MEMBER SET MLEVEL = '정지' WHERE MNO = #{mNo}
	</update>
	<update id="mmPayment" parameterType="map">
		UPDATE PAYMENT SET PODATE = (SELECT PODATE FROM PAYMENT WHERE PMNO =  #{mNo}) + ${date}
	</update>
	<update id="mmAble" parameterType="_int">
		UPDATE MEMBER SET MLEVEL = '일반회원' WHERE MNO = #{mNo}
	</update>
	<delete id="mmDelete" parameterType="_int">
		DELETE FROM MEMBER WHERE MNO = #{mNo}
	</delete>
	
	
	<!-- Chart 매퍼 -->
<!-- 	<select id="memberAgeMonthChart" resultType="sales">
		SELECT COUNT(*) AS AMOUNT, 
		DECODE(SUBSTR(MP.MPAGE, 1, 1), 1, '10대', 2, '20대', 3, '30대', 4, '40대', 5, '50대', 6, '60대') AS ITEM
		FROM MEMBER M JOIN MEMBER_PROFILE MP ON(MNO = MPMNO)
		GROUP BY DECODE(SUBSTR(MP.MPAGE, 1, 1), 1, '10대', 2, '20대', 3, '30대', 4, '40대', 5, '50대', 6, '60대') ORDER BY ITEM
	</select>-->
	<select id="memberGenderMonthChart" resultType="chart">
		SELECT COUNT(*) AS AMOUNT, DECODE(MP.MPGENDER, 'F', '여성', '남성') AS ITEM FROM MEMBER M
		JOIN MEMBER_PROFILE MP ON(MNO = MPMNO) GROUP BY MP.MPGENDER
	</select> 
	
	<select id="memberAgeChart" resultType="chart">
		SELECT COUNT(*) AS AMOUNT, 
		DECODE(SUBSTR(MP.MPAGE, 1, 1), 1, '10대', 2, '20대', 3, '30대', 4, '40대', 5, '50대', 6, '60대') AS ITEM, TO_CHAR(SYSDATE, 'MM') AS MONTH
		FROM MEMBER M JOIN MEMBER_PROFILE MP ON(MNO = MPMNO) WHERE TO_CHAR(M.MDATE, 'MM') = TO_CHAR(SYSDATE, 'MM')
		GROUP BY DECODE(SUBSTR(MP.MPAGE, 1, 1), 1, '10대', 2, '20대', 3, '30대', 4, '40대', 5, '50대', 6, '60대') ORDER BY ITEM
	</select>
	

	
	
</mapper>
