<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sales">
	<select id="salesTicketChart" resultType="sales">
		SELECT COUNT(*) AS TICKET, DECODE(PTICID, 1, '1일권', 2, '1개월', 3, '3개월', 4, '6개월', '1년') AS ITEM, TO_CHAR(SYSDATE, 'MM') AS MONTH FROM PAYMENT WHERE EXTRACT(MONTH FROM PDATE) = TO_CHAR(SYSDATE, 'MM') GROUP BY PTICID
	</select>
</mapper>
